.git
.DS_Store

node_modules
dist
build
coverage

web/node_modules
web/dist
web/.env.local

api-gateway/node_modules
api-gateway/dist

data-service/__pycache__
data-service/.venv
data-service/**/*.pyc
